[Desktop Entry]
Name=SRcomp Kiosk
Path=/home/pi/srcomp-kiosk
Exec=/bin/bash -c 'cd /home/pi/srcomp-kiosk; /home/pi/srcomp-kiosk/kiosk.py'
Type=Application
